.THIS body{
    position:absolute;
}
.THIS.container {
    position:relative;
    max-width:200px;
    margin-top:10px;
    margin-left:500px;
    text-align:center;
    border:3px solid green;
    
}
.THIS.ddd{
    margin-left:500px;
    position:relative;
    max-width:200px;
    margin-top:10px;
    text-align:center;
    border:3px solid green;
}