.THIS.venky {
    height:300px;
    width:500px;
    box-shadow:0 0 10px black;
    font-size:25px;
    font-weight:bold;
}
.THIS #naveen{
    height:80px;
    width:80px;
    box-shadow:0 0 10px black;
    
}